<mat-tab-group dynamicHeight>
  <mat-tab [label]="'Users'" style="flex-grow: 1">
    <div class="scroll-content" *ngIf="users$ | async as users">
      <mat-accordion>
        <mat-expansion-panel hideToggle *ngFor="let user of users">
          <mat-expansion-panel-header>
            <mat-panel-title>{{ user.name }}</mat-panel-title>
            <mat-panel-description>{{ user.groupname }}</mat-panel-description>
          </mat-expansion-panel-header>
          <mat-selection-list
            #ChooseDocumentList
            [multiple]="false"
            [hideSingleSelectionIndicator]="true"
            (selectionChange)="onSelectionChange(ChooseDocumentList)">
            <mat-list-option *ngFor="let document of user.documents" [value]="document.filename">
              <mat-icon matListItemIcon>article</mat-icon>
              <span matListItemTitle class="chips-density-3">
                {{ document.filename }}
                  <mat-chip-set>
                    <mat-chip *ngIf="document.read" [color]="'accent'" highlighted>read</mat-chip>
                    <mat-chip *ngIf="document.write" [color]="'warn'" highlighted>write</mat-chip>
                  </mat-chip-set>
              </span>
              <div matListItemLine>
                {{ document.type }}
              </div>
            </mat-list-option>
          </mat-selection-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-tab>
  <mat-tab [label]="'Groups'">
    <div class="scroll-content" *ngIf="groups$ | async as groups">
      <mat-accordion>
        <mat-expansion-panel hideToggle *ngFor="let group of groups">
          <mat-expansion-panel-header>
            <mat-panel-title>{{ group.name }}</mat-panel-title>
          </mat-expansion-panel-header>
          <mat-list>
            <mat-list-item *ngFor="let member of group.members">
              <mat-icon matListItemIcon>person</mat-icon>
              {{ member.name }}
            </mat-list-item>
          </mat-list>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </mat-tab>
</mat-tab-group>
