<mat-tab-group>
  <mat-tab [label]="'Users'">
    <div class="scroll-content">
      <div class="top display-flex align-items-center gap-8px">
        <span>allowed users rights</span>
        <mat-chip-set>
          <mat-chip
            *ngFor="let right of allowedUserRights()"
            [highlighted]="true"
            [disabled]="right.allow === 'undefined'"
            [color]="right.allow !== 'undefined' ? (right.allow === 'allow' ? 'primary' : 'warn') : 'default'">
            {{ right.action }}
          </mat-chip>
        </mat-chip-set>
      </div>

      <div class="main" *ngIf="PolicyData | async as policy">
        <pre>{{ policy | json }}</pre>
      </div>

      <div class="footer"></div>
    </div>
  </mat-tab>
  <mat-tab [label]="'Groups'">
    <div class="scroll-content">
      <div class="top display-flex align-items-center gap-8px">
        <p>allowed groups rights</p>
        <mat-chip-set>
          <mat-chip
            *ngFor="let right of allowedGroupRights"
            [highlighted]="true"
            [disabled]="right.allow === 'undefined'"
            [color]="right.allow !== 'undefined' ? (right.allow === 'allow' ? 'primary' : 'warn') : 'default'">
            {{ right.action }}
          </mat-chip>
        </mat-chip-set>
      </div>

      <div class="main"></div>

      <div class="footer"></div>
    </div>
  </mat-tab>
</mat-tab-group>

