/* You can add global styles to this file, and also import other style files */

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #e01a76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.display-flex {
  display: flex;
}

.flex-direction-column {
  flex-direction: column;
}

.align-items-center {
  align-items: center;
}

.gap-8px {
  gap: 8px;
}

.gap-16px {
  gap: 16px;
}

.flex-grow-1 {
  flex-grow: 1;
}

.scroll-content {
  $margin_top: 16px;
  $margin_bottom: 32px;

  height: calc(100% - $margin_top - $margin_bottom);
  margin-top: $margin_top;
  margin-bottom: $margin_bottom;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;

  > .main {
    overflow-y: auto;
    flex-grow: 1;
  }
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
